.button {
    width: 100%;
    height: 64px;
    margin-top: 5px;
    font-family: var(--text3);
    color: var(--secondaryColor);
    background-color: var(--mainColor);
    border-radius: var(--border-button);
    cursor: pointer;
}