.wrapper {
    border-radius: var(--border-wrapper) var(--border-wrapper) 0 0;
    background-color: var(--secondaryColor);
    padding: 28px 32px;
    /* width: 100%; */
    /* height: auto; */
}

@media (min-width: 992px) {
   
    .wrapper {
        border-radius: var(--border-wrapper);


    }
  }


.stocks-title {
    color: var(--auxiliarTextColor);
    text-align: left;
    font-size: var(--text2);
    letter-spacing: 0.1em;
    padding-bottom: 37px;
}

.stock-container {
    height: auto;
    /*Cambiarla*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
