.wrapper {
    border-radius: var(--border-wrapper) var(--border-wrapper) 0 0;
    background-color: var(--secondaryColor);
    padding: 28px 32px;
}

.stocks-title {
    color: var(--auxiliarTextColor);
    text-align: left;
    font-size: var(--text2);
    letter-spacing: 0.1em;
    padding-bottom: 37px;
}

.stock-container {
    background-color: antiquewhite;
    height: auto;
    /*Cambiarla*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
