.nav-menu-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.nav-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    padding: 0 32px 28px;
    transform: translateX(-50%);
    background-color: #ffffff;

}

@media (min-width: 992px) {
    .nav-menu {
        width: 60vw;
    }   
  }