.stocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 2px;
    padding:11px 32px 11px 32px;
    background-color: var(--secondaryColor);
}

.stocks:hover {
    background-color: var(--auxiliarColor);
}


.stock {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.stocks-1, .stocks-2 {
    display: flex;
    justify-content: space-between;
}

.currency {
    padding-bottom: 4px;
    font-size: var(--text2);
    font-weight: bold;
}

.currency--loading {
    padding-bottom: 20px;
}

.stock-balance {
    font-size: var(--text2);    
}

.currency-abbr {
    font-size: var(--text2);
    color: var(--auxiliarTextColor);
}

.variant {
    font-size: var(--text3);
}
.profits {
    color: var(--green);
}
.losses {
    color: var(--red);
}

.circle {
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: #C4C4C4;
  }
  

