.header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--mainColor);
}

.header p {
    font-size: var(--text3);
    color: var(--secondaryColor);
}

.header i {
    color: var(--secondaryColor);
}

.k-icon-bell:before {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 22px;
    cursor: pointer;
}