.balance {
    background-color: var(--mainColor);
    display: block;
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align: center;
    padding: 30px 0;
}
.balance-title {
    font-size: var(--text3);
    color: var(--auxiliarTextColor);
    
}

.balance-total {
    font-size: var(--text1);
    color: var(--secondaryColor);
    padding: 10px 0;
}